multiple_solution/data/sample/*
!multiple_solution/datasample/.gitkeep
multiple_solution/data/secret/*
!multiple_solution/datasecret/.gitkeep
multiple_solution/data/user/*
!multiple_solution/datauser/.gitkeep

multiple_solution/submissions/accepted/*
!multiple_solution/submissions/accepted/.gitkeep
multiple_solution/submissions/wrong_answer/*
!multiple_solution/submissions/wrong_answer/.gitkeep
multiple_solution/submissions/time_limit/*
!multiple_solution/submissions/time_limit/.gitkeep

multiple_solution/output_validators/validate/checker.cpp
multiple_solution/MakeCase/input.cpp
multiple_solution/MakeCase/validator.cpp
multiple_solution/domjudge-problem.ini
multiple_solution/problem.pdf
multiple_solution/problem.yaml

unique_output/data/sample/*
!unique_output/data/sample/.gitkeep
unique_output/data/secret/*
!unique_output/data/secret/.gitkeep
unique_output/data/user/*
!unique_output/data/user/.gitkeep

unique_output/submissions/accepted/*
!unique_output/submissions/accepted/.gitkeep
unique_output/submissions/wrong_answer/*
!unique_output/submissions/wrong_answer/.gitkeep
unique_output/submissions/time_limit/*
!unique_output/submissions/time_limit/.gitkeep

unique_output/MakeCase/input.cpp
unique_output/MakeCase/validator.cpp
unique_output/domjudge-problem.ini
unique_output/problem.pdf
unique_output/problem.yaml