multiple_solution/data/sample/*
!sample/.gitkeep
multiple_solution/data/secret/*
!secret/.gitkeep
multiple_solution/data/user/*
!user/.gitkeep
multiple_solution/submissions/accepted/*
!accepted/.gitkeep
multiple_solution/submissions/wrong_answer/*
!wrong_answer/.gitkeep
multiple_solution/submissions/time_limit/*
!time_limit/.gitkeep
multiple_solution/output_validators/validate/checker.cpp

unique_output/data/sample/*
!sample/.gitkeep
unique_output/data/secret/*
!secret/.gitkeep
unique_output/data/user/*
!user/.gitkeep
unique_output/submissions/accepted/*
!accepted/.gitkeep
unique_output/submissions/wrong_answer/*
!wrong_answer/.gitkeep
unique_output/submissions/time_limit/*
!time_limit/.gitkeep